.navbg{
    background-color: lightgreen;
}
.aside{
    background-color: #378b29;
    background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
}
.side{
    background-color: #378b29;
    background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
}
.icon{
    background-color: yellowgreen;
}
.bg{
    background-color: #98ce00;
    background-image: linear-gradient(319deg, #98ce00 0%, #e5f77d 37%, #dc9e82 100%);
height: 100vh;

}
.tabcontent {
    display: none;


    color: red;

 
    position: absolute;
    top: 22%;
left: 50%;
   
  }